[data-theme='mytheme'] {
  /* primary */
  --p: 196, 64%, 69%;
  /* primary focus */
  --pf: 196, 99%, 69%;
  /* primary conten196, 64%, 69%t */
  --pc: 198, 100%, 23%;

  /* secondary */
  --s: 30, 16%, 55%;
  /* secondary focus */
  --sf: 30, 21%, 55%;
  /* secondary content */
  --sc: 198, 100%, 23%;

  /* accent */
  --a: 	30, 85%, 65%;
  /* accent content */
  --ac: 198, 100%, 23%;
  /* accent focus */
  --af: 198, 100%, 23%;

  /* info */
  --in: 128, 13%, 66%;
  /* info content */
  --inc: 198, 100%, 23%;

  /* success */
  --su: 192, 46%, 80%;
  /* success content */
  --suc: 198, 100%, 23%;

  /* warning */
  --wa: 43 96% 56%;
  /* warning content */
  --wac: 43 100% 11%;

  /* error */
  --er: 0 91% 71%;
  /* error content */
  --erc: 0 100% 14%;

  /* neutral */
  --n: 198, 100%, 23%;
  /* neutral focus */
  --nf: 198, 100%, 33%;
  /* neutral content */
  --nc: 60, 100%, 97%;

  /* base 100 */
  --b1: 60, 95%, 95%;
  /* base 200 */
  --b1: 60, 97%, 97%;
  /* base 300 */
  --b2: 60, 100%, 100%;
  /* base content */
  --n: 198, 100%, 23%;

  /* other settings */
  /* --rounded-box: 1rem;
  --rounded-btn: 0.25rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: capitalize;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem; */

}