<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>발맘: 회원가입</title>

<!-- 테일윈드 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<!-- daisy ui 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/4.6.1/full.css" />
<!-- 폰트어썸 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- anime js 불러보기-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- 자바스크립트ui불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<!--공통 및 헤드 css, js-->
<link rel="stylesheet" th:href="@{/css/common.css}" href="/css/common.css" />
<script th:src="@{/js/common.js}" src="/js/common.js"></script>
<script th:src="@{/js/header.js}" src="/js/header.js"></script>


<style>
.dropDownArcodians>.btn:hover>.dropDownArcodianItems {
	display: block;
}

#ui-datepicker-div {
	background-color: white;
	width: 14rem;
}

.ui-datepicker-header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.ui-datepicker-prev, .ui-datepicker-next {
	width: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	background-color: black;
}

#ui-datepicker-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ui-datepicker-title {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.ui-datepicker-year:after {
	content: "년";
}

td {
	text-align: center;
}

td:not(.ui-state-disabled ) {
	color: black;
	cursor: pointer;
}

td:not(.ui-state-disabled ):hover {
	color: white;
	background-color: black;
}

.ui-datepicker-header, th {
	color: black;
}
</style>
<script>
        let departureAirportCode = null;
        let returnAirportCode = null;
        let departureDayStr = null;
        let returnDayStr = null;
   
        function setAirportCode(ele, code, isDepartureAirport){
        	
        	if(isDepartureAirport){
        		departureAirportCode = code;
        	}else{
        		returnAirportCode = code;
        	}
        	
        	$(ele).parents('button').find('.airport-selector').html($(ele).html());
        }
        
        $(document).ready(function(){               
            $.datepicker.setDefaults({
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: ''
            });    
         });
        
        $(function(){
          $('.datepicker').datepicker({minDate: "+1D", maxDate: "+1Y", dateFormat: 'yy/mm/dd'});
        })
        
        function dateCorrection(){
        	departureDayStr = $("#departureDay").val();
        	returnDayStr = $("#returnDay").val();
        	
        	if(!departureDayStr || !returnDayStr){
        		return;
        	}
        	
        	let departureDay = Date.parse(departureDayStr);
        	let returnDay = Date.parse(returnDayStr);
        	
        	if(returnDay<departureDay){
        		$("#returnDay").val("");
        		 $("#departureDay").val(returnDayStr);
        		 departureDayStr=returnDayStr;
        		 returnDayStr = "";
        	}
        	
        }
        
        
        async function searchAirlineTicket() {
            // Replace the URL with your actual endpoint
             
            
        	if(!departureAirportCode || !returnAirportCode || !departureDayStr || !returnDayStr){
        		commonsAlert("입력되지 않은 항목이 있습니다.");
        		return;
        	}
        	let departureDay = departureDayStr.replace(/\//g, "");
            let returnDay = returnDayStr.replace(/\//g, "");
            const url =`http://127.0.0.1:8000/travelPlan/crawlingFlightList?departureAirportCode=${departureAirportCode}&returnAirportCode=${returnAirportCode}&departureDay=${departureDay}&returnDay=${returnDay}`;
            console.log("되는겨?");
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Network response was not ok: ${response.statusText}`);
            }
            const resultData = await response.json();
            
            const flightInfoResultView = $("#flightInfoResultView");
            flightInfoResultView.empty();
            
            resultData.flightInfoList.forEach((flightInfo)=>{
         	   let index = flightInfo.index;
         	   let departureAirline =flightInfo.departureAirline; 
               let departureFromTime = flightInfo.departureFromTime;
               let departureFromAirport = flightInfo.departureFromAirport;
               let departureToTime = flightInfo.departureToTime;
               let departureToAirport = flightInfo.departureToAirport;
               let departureRouteInfo = flightInfo.departureRouteInfo;
               let returnAirLine = flightInfo.returnAirLine;
               let returnFromTime = flightInfo.returnFromTime;
               let returnFromAirport = flightInfo.returnFromAirport;
               let returnToTime = flightInfo.returnToTime;
               let returnToAirport = flightInfo.returnToAirport;
               let returnRouteInfo = flightInfo.returnRouteInfo;
               let paymentMethod = flightInfo.paymentMethod;
               let pay = flightInfo.pay;
                
                
                

                // flightInfo 정보를 담을 div 요소 생성
                let flightInfoDiv = $("<div>");
                flightInfoDiv.addClass("flightInfoItem flex w-full shadow-lg text-black p-3 cursor-pointer");
                flightInfoDiv.attr("data-index", flightInfo.index);
                flightInfoDiv.click(() => handleFlightInfoClick(departureDay, returnDay, index));
                
                
                flightInfoDiv.click(function() {
                    // Code to execute when flightInfoDiv is clicked
		            const flightInfoResultView = $("#flightInfoResultView");
		            flightInfoResultView.empty();
                   //필요한 정보 1. index
		            const url =`http://127.0.0.1:8000/travelPlan/crawlingFlightList?departureAirportCode=${departureAirportCode}&returnAirportCode=${returnAirportCode}&departureDay=${departureDay}&returnDay=${returnDay}`;
		            const response = fetch(url);
		            
                   
                   // 2. 출발 시간
                   // 3. 도착 시간
                   // 4. 출발 공항 정확한 코드
                   // 5. 도착 공항 정확한 코드
                    // Add your desired code here
                });

                // flightInfo 정보를 template literals로 생성
                let flightInfoContent = `
                  <div class="flex flex-col w-1/6 gap-3">
                    <p>${flightInfo.departureAirline}</p>
                    <p>${flightInfo.returnAirLine}</p>
                 </div>
                 
                 <div class="flex flex-col  w-3/6 gap-3">
                   <div class="flex gap-3">
	                      <p>${departureFromTime}</p>
	                      <p class="text-blue-400">${departureFromAirport}</p>
	                      <i class="fa-solid fa-plane"></i>
	                      <p>${departureToTime}</p>
	                      <p class="text-blue-400">${departureToAirport}</p>
                   </div>
                   <div class="flex gap-3">
                   <p>${returnFromTime}</p>
                   <p class="text-blue-400">${returnFromAirport}</p>
                   <i class="fa-solid fa-plane"></i>
                   <p>${returnToTime}</p>
                   <p class="text-blue-400">${returnToAirport}</p>
                   </div>
                 </div>
                 
                 <div class="flex flex-col  w-2/6 gap-3">
	                    <p>${departureRouteInfo}</p>
	                    <p>${returnRouteInfo}</p>
	                 </div> 
                    
	                 <div class="flex flex-col">
                    <p>${paymentMethod}</p>
                    <p>${pay}</p>
                  </div>`;
                  
                  // flightInfoDiv에 flightInfo 정보 추가
                  flightInfoDiv.append(flightInfoContent);

                  // flightInfoDiv를 flightInfoResultView div에 추가
                  flightInfoResultView.append(flightInfoDiv);    
                
            });

          }
        
        async function handleFlightInfoClick(departureDay, returnDay, index) {
            const flightInfoResultView = $("#flightInfoResultView");
            flightInfoResultView.empty();

            const url = `http://127.0.0.1:8000/travelPlan/getTicketingUrl?departureAirportCode=${departureAirportCode}&returnAirportCode=${returnAirportCode}&departureDay=${departureDay}&returnDay=${returnDay}&index=${index}`;
            try {
                const response = await fetch(url); // `await`를 사용하여 비동기 요청을 동기적으로 처리
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const resultData = await response.json(); // JSON 데이터도 비동기적으로 처리

                console.log(resultData); // 서버로부터 받은 데이터 로깅
                console.log(`Clicked flight index: ${flightInfo.index}`);
            } catch (error) {
                console.error(`Error fetching data: ${error.message}`);
            }
        }
        
    </script>
</head>

<body>
	<header th:insert="/header :: header"></header>
	<header id="ghost_header" class="w-screen"></header>

	<main class="flex w-screen justify-center p-5 flex-col items-center">
		<div class="2xl:w-2/6 lg:w-2/4 w-full h-full flex p-6 mt-2 gap-2 justify-center ">

			<div class="dropDownArcodians flex justify-center">
				<button class="btn btn-neutral relative w-72">
					<span class="airport-selector"> 출발 공항</span>
					<div
						class="dropDownArcodianItems w-72 absolute top-full left-0 bg-white  hidden text-black max-h-96 overflow-scroll">
						<div class="join join-vertical w-full">
							<div class="collapse collapse-arrow join-item border border-base-300"
								th:each="departureAirport : ${departureAirports}">
								<input type="radio" name="my-accordion-4" />
								<div class="collapse-title text-lg font-medium" th:text="${departureAirport.region}">국내</div>
								<div class="collapse-content">
									<div th:each="airport: ${departureAirport.airports}" class="flex flex-col">
										<div class="flex justify-center items-center h-12 hover:bg-gray-300" th:code="${airport.code}"
											onClick="setAirportCode(this, this.getAttribute('code'), true)">
											<span th:text="${airport.city}">서울</span>,<span th:text="${airport.country}">대한민국</span> &nbsp; &nbsp; <span
												th:text="${airport.code}" class="text-blue-300">SEL<span />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</button>
			</div>



			<div class="dropDownArcodians flex justify-center">
				<button class="btn btn-neutral relative w-72">
					<span class="airport-selector"> 도착 공항</span>
					<div
						class="dropDownArcodianItems w-72 absolute top-full left-0 bg-white  hidden text-black max-h-96 overflow-scroll">
						<div class="join join-vertical w-full">
							<div class="collapse collapse-arrow join-item border border-base-300" th:each="returnAirport : ${returnAirports}">
								<input type="radio" name="my-accordion-4" />
								<div class="collapse-title text-lg font-medium" th:text="${returnAirport.region}">국내</div>
								<div class="collapse-content">
									<div th:each="airport: ${returnAirport.airports}" class="flex flex-col">
										<div class="flex justify-center items-center h-12 hover:bg-gray-300" th:code="${airport.code}"
											onClick="setAirportCode(this, this.getAttribute('code'), false)">
											<span th:text="${airport.city}">서울</span>,<span th:text="${airport.country}">대한민국</span> &nbsp; &nbsp; <span
												th:text="${airport.code}" class="text-blue-300">SEL<span />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</button>
			</div>


			<p class="text-black">
				출발 날짜: <input id="departureDay" type="text" class="datepicker w-56" onChange="dateCorrection()">
			</p>
			<p class="text-black">
				도착 날짜: <input id="returnDay" type="text" class="datepicker w-56" onChange="dateCorrection()">
			</p>
			<button class="btn" onClick="searchAirlineTicket()">항공권 검색</button>

		</div>
		<div class="2xl:w-5/6 lg:w-4/6 w-full h-full flex p-6 mt-2 gap-2 justify-center ">
            <div id="flightInfoResultView" class="flex flex-col gap-5 items-center w-full"></div>
        </div>
		
	</main>
</body>
</html>
