<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>발맘:발자취 목록</title>

    <!-- 테일윈드 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- daisy ui 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/4.6.1/full.css"
    />
    <!-- 폰트어썸 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <!-- anime js 불러보기-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--지도 그리기 불러오기-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!--공통 및 헤드 css, js-->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/trace.css" />
    <script src="/js/common.js"></script>
  </head>

  <body>
    <header th:insert="/header :: header"></header>
    <header id="ghost_header" class="w-screen"></header>

    <main class="flex w-screen justify-center md:p-5 text-neutral">
      <div class="md:w-10/12 w-full p-2 md:p-6 mt-2">
        <div
          id="trace_card_container"
          class="flex flex-wrap justify-center md:flex-row flex-col"
        >
          <!-- <div class="card xl:w-1/4 md:w-1/2 w-full p-5 m-0">
          <div class="w-full flex justify-between text-md">
            <div class="flex items-center">
              <div class="avatar">
                <div class="w-9 rounded-full">
                  <img src="/images/avatar/boy.webp" />
                </div>
              </div>
              <a href="#">가장긴이름가장긴이름</a>
            </div>
            <div class="flex items-center">
              <p>1일전</p>
            </div>
          </div>
          <div class="w-full flex justify-center">
          <figure class="w-10/12"> <img src="/images/etc/etc2.webp" class="masked"></figure>
          </div>
          <div class="card-body p-2">

            <div
              class="w-full overflow-ellipsis whitespace-nowrap overflow-hidden font-bold text-lg text-center mt-2 text-primary hover:text-primary_hard cursor-pointer">
              <a href="#">여행을 떠나보았다고는 하지만 나는 이제부터 무엇을</a>
            </div>


            <div id="tag_name_container" class="flex-nowrap flex gap-2 justify-center mt-2">
              <div class="tooltip tag_name_badge_container">
                <div
                  class="tag_name_badge text-sm text-neutral rounded-full px-2 bg-primary w-16 overflow-ellipsis whitespace-nowrap overflow-hidden"
                  style="background-color: rgb(237, 206, 205);">테스트</div>
                <span class="tooltiptext">테스트</span>
              </div>

              <div class="tooltip tag_name_badge_container">
                <div
                  class="tag_name_badge text-sm text-neutral rounded-full px-2 bg-primary w-16 overflow-ellipsis whitespace-nowrap overflow-hidden"
                  style="background-color: rgb(237, 206, 205);">긴 글씨를 쓰면 어떻게</div>
                <span class="tooltiptext">긴 글씨를 쓰면 어떻게</span>
              </div>

              <div class="tooltip tag_name_badge_container">
                <div
                  class="tag_name_badge text-sm text-neutral rounded-full px-2 bg-primary w-16 overflow-ellipsis whitespace-nowrap overflow-hidden"
                  style="background-color: rgb(237, 206, 205);">오늘 날씨가 유독 덥다</div>
                <span class="tooltiptext">오늘 날씨가 유독 덥다</span>
              </div>

            </div>

          </div>

          <div id="stayed_city_container" class="flex-nowrap flex gap-2 justify-center mt-2">
            <div class="tooltip stayed_city_badge_container">
              <div
                class="stayed_city_badge text-sm text-neutral rounded-full px-2 bg-primary w-16 overflow-ellipsis whitespace-nowrap overflow-hidden"
                style="background-color: rgb(181, 148, 140);">도쿄</div>
              <span class="tooltiptext">도쿄</span>
            </div>

            <div class="tooltip stayed_city_badge_container">
              <div
                class="stayed_city_badge text-sm text-neutral rounded-full px-2 bg-primary w-16 overflow-ellipsis whitespace-nowrap overflow-hidden"
                style="background-color: rgb(181, 148, 140);">교토</div>
              <span class="tooltiptext">교토</span>
            </div>

          </div>

          <div id="interaction_container" class="flex-nowrap flex gap-4 justify-center text-neutral text-lg mt-2 ">
            <div class="flex gap-1 interaction_item items-center">
              <i class="fa-solid fa-eye"></i>
              <p>12</p>
            </div>
            <div class="flex gap-1 interaction_item items-center">
              <i class="fa-solid fa-heart"></i>
              <p>50</p>
            </div>
            <div class="flex gap-1 interaction_item items-center">
              <i class="fa-regular fa-bookmark"></i>
              <p>40</p>
            </div>
            <div class="flex gap-1 interaction_item items-center">
              <i class="fa-regular fa-comment"></i>
              <p>32</p>
            </div>
          </div>

        </div> -->

          <!-- 경계선 -->
        </div>
        <div
          th:if="${loginInfo.isLogined}"
          th:onclick="|location.href='/trace/routeRecording'|"
          class="fixed md:inset-y-1/4 inset-y-3/4 right-0 z-10 cursor-pointer md:mx-10 mx-3"
        >
          <div
            class="relative hover:drop-shadow-md hover:scale-110 duration-100"
          >
            <img src="/images/icon/trace.png" class="w-20" />
            <div class="absolute inset-0 flex justify-center items-center">
              <span class="font-bold">새 발자취</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	 let tagId = [[${tagId}]];
	if(!tagId){
		tagId=-1;
	}
	
	/*]]>*/
	</script>
  <script src="/js/header.js"></script>
  <script src="/js/trace/traceList.js"></script>
</html>
