<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>발맘: 발자취 등록</title>

    <!-- 테일윈드 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- daisy ui 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/4.6.1/full.css"
    />
    <!-- 폰트어썸 불러오기 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <!-- anime js 불러보기-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--지도 그리기 불러오기-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!--공통 및 헤드 css, js-->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/trace.css" />
    <script src="/js/common.js"></script>
  </head>

  <body>
    <header th:insert="/header :: header"></header>
    <header id="ghost_header" class="w-screen"></header>

    <main class="flex w-screen justify-center p-5">
      <div class="lg:w-1/2 w-full h-full flex flex-col p-6 mt-2">
        <div id="trace_write_form">
          <input
            type="hidden"
            id="form_id_input"
            name="id"
            th:value="${traceId}"
          />

          <div class="mt-2 w-full">
            <div class="flex lg:flex-row flex-col w-full">
              <label
                for="form_title_input"
                class="block text-2xl text-neutral mx-2 w-36 flex items-center"
                >제목</label
              >
              <div
                id="form_title_label"
                class="input input-bordered flex gap-2 lg:flex-row flex-col p-3 h-auto grow mt-2"
              >
                <input
                  id="form_title_input"
                  name="title"
                  type="text"
                  class="grow text-neutral"
                  placeholder="제목"
                  maxlength="100"
                  onblur="titleValidationCheck()"
                />

                <!--enter을 칠때마다 text안의 내용이 div클래스에 추가된다.-->
              </div>
            </div>
            <p
              class="text-error w-full flex justify-end text-lg"
              id="form_title_validation_message"
            ></p>
          </div>

          <div class="mt-2 w-full">
            <div class="flex lg:flex-row flex-col w-full">
              <label
                for="form_tag_name_input"
                class="block text-2xl text-neutral mx-2 w-36 flex items-center"
                >태그</label
              >
              <div
                id="form_tag_name_label"
                class="input input-bordered flex gap-2 lg:flex-row flex-col p-3 h-auto grow mt-2"
              >
                <div
                  id="tag_name_container"
                  class="flex-nowrap flex gap-3"
                ></div>

                <input
                  id="form_tag_name_input"
                  type="text"
                  class="grow text-neutral"
                  placeholder="태그 입력 후 enter"
                  maxlength="20"
                />

                <!--enter을 칠때마다 text안의 내용이 div클래스에 추가된다.-->
              </div>
            </div>
            <p
              class="text-error w-full flex justify-end text-lg"
              id="form_tag_name_validation_message"
            ></p>
          </div>

          <div class="mt-2 w-full bg-blck">
            <div class="flex xl:flex-row flex-col w-full">
              <label
                for="form_media_content_manager"
                class="block text-2xl text-neutral mx-2 min-w-36 flex items-center"
                >미디어 관리</label
              >
              <div
                id="form_media_content_manager"
                class="flex gap-2 flex-wrap p-3 h-auto grow mt-2"
              >
                <div class="flex gap-2 mt-2 md:mt-10 w-full">
                  <button
                    onclick="deleteSelectedMediaContentItems()"
                    type="button"
                    class="btn bg-base_white text-secondary_hard hover:bg-secondary_hard hover:text-bg_main text-md"
                  >
                    선택 미디어 삭제
                  </button>
                  <button
                    onclick="clearDeleteTargetMediaContentItems()"
                    type="button"
                    class="btn bg-base_white text-secondary_hard hover:bg-secondary_hard hover:text-bg_main text-md"
                  >
                    선택 취소
                  </button>
                </div>

                <div
                  th:each="mediaFile : ${mediaFiles}"
                  class="avatar media_content_item"
                  th:data-media-id="${mediaFile.id}"
                >
                  <div class="w-16 rounded img_container cursor-pointer">
                    <div th:if="${mediaFile.type.toString() == 'image'}">
                      <img
                        th:src="${mediaFile.url}"
                        src="/images/etc/etc1.webp"
                      />
                    </div>
                    <div th:if="${mediaFile.type.toString() == 'video'}">
                      <video
                        th:src="${mediaFile.url}"
                        src="/videos/main_background.mp4"
                        class="w-full h-full"
                        autoplay
                        loop
                        muted
                      ></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-2 w-full bg-blck">
            <div class="flex xl:flex-row flex-col w-full">
              <label
                for="form_candidate_featured_image_manager"
                class="block text-2xl text-neutral mx-2 min-w-36 flex items-center"
                >대표 이미지</label
              >
              <div
                id="form_candidate_featured_image_manager"
                class="flex gap-2 flex-wrap p-3 h-auto grow mt-2"
              >
                <div
                  th:each="mediaFile : ${mediaFiles}"
                  class="avatar candidate_featured_image indicator cursor-pointer"
                  th:data-media-id="${mediaFile.id}"
                >
                  <div class="w-16 rounded img_container cursor-pointer">
                    <img
                      th:if="${mediaFile.type.toString() == 'image'}"
                      th:src="${mediaFile.url}"
                      src="/images/etc/etc1.webp"
                    />
                    <img
                      th:if="${mediaFile.type.toString() == 'video'}"
                      th:src="${mediaFile.thumbnailUrl}"
                      src="/images/etc/etc1.webp"
                    />
                  </div>
                </div>

                <div
                  class="avatar candidate_featured_image indicator cursor-pointer"
                  data-media-id="7"
                >
                  <div class="w-16 rounded img_container cursor-pointer">
                    <img th:src="@{/images/default/defaultFeaturedImage.png}" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-2 xl:mt-10 w-full bg-blck flex justify-center">
            <button
              type="button"
              class="btn bg-base_white text-secondary_hard hover:bg-secondary_hard hover:text-bg_main text-2xl"
              onclick="traceFormValidationCheck()"
            >
              발자취 등록
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/header.js"></script>
  <script src="/js/util/tagUtil.js"></script>
  <script src="/js/trace/writeOrModifyTraceDetail.js"></script>
</html>
